{% extends 'base.html' %}
{% block content %}
<h2>Gmina {{gm.name}}</h2>
<div class="container">
{% if okr_list %}
    <table class="table table-striped">
    	<tr>
    		<th>Nazwa okręgu</th>
    		<th>Ilość kart</th>
    		<th>Liczba wyborców</th>
    		<th>Edycja</th>
    	</tr>
    {% for okr in okr_list %}
        <tr id="{{okr.id}}">
            {% csrf_token %}
        	<td>{{ okr.name }}<input type="hidden" id="{{okr.id}}-czas"></td>
        	<td><span class="karty-view">{{ okr.karty }}</span><input class="karty-edit" type="number" value="{{ okr.karty }}"></td>
        	<td><span class="wyborcy-view">{{ okr.wyborcy }}</span><input class="wyborcy-edit" type="number" value="{{ okr.wyborcy }}"></td>
        	<td>
                <button class="ajax-edit btn btn-xs btn-primary">edit</button>
                <button class="ajax-save btn btn-xs btn-primary">save</button>
                <button class="ajax-cancel btn btn-xs btn-default">cancel</button>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Brak okręgów.</p>
{% endif %}
</div>
{% endblock %}

